.nav {
  background: var(--clr-background-white);
  box-shadow: var(--shadow);
  font-family: var(--ff-secondary);
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.logo {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.nav div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.nav-first-line {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  justify-content: space-between;
}
.nav-first-line form label {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
label {
  justify-self: center;
  display: flex;
  flex-wrap: nowrap;
  height: 2rem;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
label input {
  width: 40vw;
  font-size: 1.5rem;
  background-color: inherit;
  border: 5px solid transparent;
  border-bottom: 4px solid var(--clr-secondary-dark);
  font-family: "Times New Roman", Times, serif;
  color: var(--clr-text-dark);
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.btn.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  font-size: 1rem;
}
.search-button:hover {
  transform: scale(1.1);
  font-size: 1.2em;
}
.nav-links {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 10px auto;
  width: 95%;
}
.nav-link {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px 8px;
  color: var(--clr-textdark);
  transition: var(--transition);
  cursor: pointer;
}
.nav-link.active {
  font-size: 1.4rem;
  position: relative;
  bottom: 5px;
}
.nav-link li {
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: center;
  transition: var(--transition);
  transform-origin: bottom right;
}
.icon {
  font-size: 3rem;
  color: var(--clr-secondary-dark);
}
.icon:hover {
  transform: scale(1.2);
}

.counterbox {
  border: 3px solid var(--clr-background-white);
  border-radius: 50%;
  background-color: var(--clr-secondary-dark);
  color: var(--clr-text-light);
  font-size: 50%;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  transform: translate(-10px, -10px);
}
.nav .horizontal-nav-bars {
  color: var(--clr-secondary-dark);
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    height: 7rem;
    flex-flow: row;
  }
  .logo {
    width: 70px;
    height: 70px;
    margin-right: 0;
  }
  label input {
    font-size: 1rem;
  }
  .nav .horizontal-nav-bars {
    display: inline;
    font-size: 2.5rem;
  }
  .horizontal-nav:hover > .icons {
    display: inline;
    transform: translateX(-90px);
    transition: 2s ease;
  }
  .horizontal-nav:hover .horizontal-nav-bars {
    display: none;
  }

  .nav .icons {
    background: var(--clr-secondary-dark);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
    position: absolute;
    right: -80px;
    top: 1vh;
    width: fit-content;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 1rem;
    display: none;
    z-index: 2;
  }
  .nav .icon {
    color: var(--clr-text-light);
    margin-right: 0;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .fa-cart-plus,
  .fa-heart {
    font-size: 2.5rem;
  }
  .counterbox {
    border: 2px solid var(--clr-background-white);
    font-size: 35%;
    display: flex;
    width: 25px;
    height: 25px;
  }

  .nav-links {
    display: none;
  }
}
