:root {
  --clr-background-grey-light: rgb(225, 223, 219);
  --clr-background-grey-medium: rgb(166, 166, 164);
  --clr-background-white: whitesmoke;
  --clr-secondary-dark: rgb(206, 83, 7);
  --clr-secondary-light: #dfb2a6;
  --clr-text-dark: rgb(51, 51, 51);
  --clr-text-light: #ffffff;
  --ff-primary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --shadow: 0 5px 15px rgba(51, 51, 51, 0.1);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: var(--ff-primary);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  background: var(--clr-secondary-dark);
  color: var(--clr-text-light);
  padding: 10px 20px;
  display: inline-block;
  font-family: var(--ff-secondary);
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  border-color: var(--clr-secondary);
  border-radius: var(--radius);
}
.btn:hover {
  transform: scaleX(1.1);
}

.section {
  padding: 5rem 0;
  background-color: var(--clr-background-grey-light);
  min-height: 80vh;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
}
.paypal-container {
  margin: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.paypal-container div {
  width: 60%;
  max-width: 600px;
}
