/** @format */

.amount-box {
  margin: 20px auto;
  width: 400px;
  height: 100px;
  border: 2px solid brown;
  padding: 10px;
  text-align: center;
}
.checkout-box {
  margin: 10px;
  position: absolute;
  right: 20px;
}
